<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1">
</head>
<!-- new stuff from Andria -->
<div class="container">           <!-- Container establishes !-->
	<body>			                    <!-- Vertical Menu !-->
  <div class="navigation">        <!--  Navigation Bar  -->
    <nav>
      <a routerLink = "/home" routerLinkActive ="active" (click)="switchHome()">HOME</a>
      <a routerLink = "/about" routerLinkActive ="active" (click)="switchAbout()">ABOUT US</a>
      <a routerLink = "/ministries" routerLinkActive ="active" (click)="switchMinistries()">MINISTRIES</a>
      <a routerLink = "/events" routerLinkActive ="active" (click)="switchEvents()">EVENTS</a>
      <a routerLink = "/contact-us" routerLinkActive ="active" (click)="switchContact()">CONTACT US</a>
    </nav>
  </div>
  <!-- Parallax image block -->
  <div *ngIf="toggleHome" class="parallaxHome">
    <div class="caption">
      <!-- <img src="../src/assets/CCSV.png"> -->
    </div>
  </div>
  <div *ngIf="toggleAbout" class="parallaxAbout">
    <div class="caption">
      <!-- <img src="../src/assets/CCSV-About.png"> -->
    </div>
  </div>
  <div *ngIf="toggleMinistries" class="parallaxMinistries">
    <div class="caption">
      <!-- <img src="../src/assets/CCSV-Ministries.png"> -->
    </div>
  </div>
    <div *ngIf="toggleEvents" class="parallaxEvents">
    <div class="caption">
      <!-- <img src="../src/assets/CCSV-Events.png"> -->
    </div>
  </div>
  <div *ngIf="toggleContact" class="parallaxContact">
    <div class="caption">
      <!-- <img src="../src/assets/CCSV-Contact.png"> -->
    </div>
  </div>
<!-- Parallax end -->

<!-- Start of Content !-->
  <router-outlet></router-outlet>
<!-- end of content !-->

   <div class="footer">
    Christian Church of Simi Valley
    <br>58A Moreland Road, Simi Valley, CA 93065
 		<br>(000) 000-0000
 		<br>西米谷基督教會日曆 (secretary.ccsv.us@gmail.com)
   </div>
	</body>
</div>


<!-- end new stuff -->



  <!-- <div class="container-logo">
    <img src="./assets/CCSV.png" alt="logo">
  </div> -->

 <!-- <div class="navigation-bar">
      <div class="container">
        <div class="drop-down" >
          <button id="home-button"  (click) ="homeDropdown()" class="dropbutton" >Home</button>
            <div class="dropdown-content" *ngIf="showHomeItems">
              <a>Link</a>
              <a>Link2</a>
              <a>Link3</a>
            </div>
          <button id="about-button"  (click) ="aboutDropdown()" class="dropbutton-about" >About Us</button>
            <div class="about-content" *ngIf="showAboutItems">
              <a>Link4</a>
              <a>Link5</a>
              <a>Link6</a>
            </div>
        </div>
      </div>

          <button id="ministry-button"  (mouseover) ="ministryDropdown()"(mouseleave) ="ministryDropdown()" class="dropbutton" >Ministries</button>
          <button id="contact-button"  (mouseover) ="contactDropdown()"  (mouseleave) ="contactDropdown()" class="dropbutton" >Contact Us</button>



        <div id="ministry-content" *ngIf="showMinistryItems">
          <a>Link7</a>
          <a>Link8</a>
          <a>Link9</a>
        </div>
        <div id="contact-content" *ngIf="showContactItems">
          <a>Link10</a>
          <a>Link11</a>
          <a>Link12</a>
        </div>
      </div>

      <div>
        <ul class="items">
          <li class="menu-list" *ngFor="let item of items" [class.selected]="item === selectedItem" (click)="onSelect(item)">

            <span>{{item.name}}</span>
          </li>
        </ul>
        <div *ngIf="selectedItem">
              <h2>{{selectedItem.id}} details!</h2>

              <div>
              <label>name: </label>
              <input [(ngModel)]="item.name" placeholder="name"/>
              </div>
        </div>

      </div>
</div> -->
