<div class="para">
  <div class="content">
    <p>主日上午11:00 華語堂 – 一樓（有提供英語翻譯）</p>
    <p>主日上午11:00 英語堂- 二樓</p>
    <p><strong>主日學: </strong></p>
    <p>主日上午11:00 兒童分班, 主日上午9:30 成人, 青少年及兒童</p>
    <p><strong>教會地址: </strong>: <a href="https://www.google.com/maps/place/58+Moreland+Rd/@34.276112,-118.798737,17z/data=!3m1!4b1!4m2!3m1!1s0x80e82e92dece6205:0xf2cf21980f4bbac7">58A Moreland Road, Simi Valley, CA 93065</a></p>
    <p><strong>教會電話: </strong>: (805) 285-7789</p>
    <p><strong>牧師: </strong>甄世平牧師</p>
    <p><strong>長老: </strong>陸大齡長老, 歐思真長老</p>
    <p><strong> <a title="CCSV A.S. Tutoring Club" href="http://ccsv.us/?page_id=585"><i><b>Free</b></i> Tutoring Club</a></strong><br />
    <a title="CCSV 家教學習中心" href="http://ccsv.us/?page_id=619"><strong><span style="font-size: 18px;">家教學習中心</span></strong></a></p>

    <p>THIS IS FILLER<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      end<br>
    </p>
  </div>
</div>
<div class="para2">
  <div class="content">
    <p>THIS IS FILLER<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      *<br>
      end<br>
    </p>
      <p>THIS IS FILLER<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        *<br>
        end<br>
        <!-- <button (click)="gotoEvent(); switchEvents()">Events!</button> -->

        <button (click)="goBack()">Back</button>
      </p>

  </div>
</div>
